.section-Content-Training {
    .section-tittle {
        .text {
            font-size: 55px;
            color: #333333;
            span {
                color: #36afeb !important;
            }
        }
    }
    .section-training-content {
        a,button {
            color: #36afeb;
        }
        
    }
}
