.section-About {
    .section-tittle {
        .about-tittle {
            font-size: 40px;
            color: #333333;
            span {
                color: #36afeb !important;
            }
        }
    }
}
