.section-About {
    .section-tittle {
        .about-tittle {
            font-size: 40px;
            color: #333333;
            span {
                color: #36afeb !important;
            }
        }
    }
    .content-bottom {
        .line {
            width: 100px;
            border: 0.2px solid rgb(116, 112, 112);
        }
    }
}
