.header-content {
    .section-tittle {
        .h1 {
            font-size: 55px;
            color: #333333;
            span {
                color: #36afeb !important;
            }
        }
    }
    .section-body-content {
        .btn-outline-dark {
            padding: 10px 25px;
        }
    }
}
